
@import "var";
@import "typography";
@import "mixins";

.card
{
  background-color: $primary;
  box-shadow: 0px 0px 0px grey;
  @include transition(box-shadow .6s ease-out);
     box-shadow: .8px .9px 3px grey;

}
.card:hover{ 
  box-shadow: 1px 8px 20px grey;
  @include transition(box-shadow .6s ease-in);
}

.card-title
{
    font-family: "Giorgio";
    color: $darkBlue;
    font-size: 2rem;
}

.offername{
    background-color: $orange;
    font-family: 'Open Sans', sans-serif !important;
    border-radius: 5px;
    color: $white;
    font-family: 'Open Sans', sans-serif;
    max-width: 40%;
    text-transform:uppercase;
    font-weight: 600;
    text-align: center;
}

.resortId{
    color: $orange;
    font-size: 1rem;
    font-weight: 700;
}
.onlyDesktop
{
    display: none;
}
.iconIndicator
{
    color: rgba($darkBlue,.6);
    margin-top: -10px;
}

.btn-red{
    color: $black;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 600;
    background-color: $red;
    text-transform: uppercase;
}

.btn-yellow
{
  color: $black;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 600;
  background-color: $yellow;
  text-transform: uppercase;
}
.btn-outline-warning
{
  color: $black;
  border-color: $yellow !important;
  font-family: 'Open Sans', sans-serif !important;
    font-weight: 600;
}
// tooltip
/* (A) BUILD TOOLTIP USING BEFORE PSEUDO-CLASS */
[data-tooltip]::before {
  content: attr(data-tooltip);
}

/* (B) POSITION TOOLTIP */
[data-tooltip] {
  position: relative;
  display: inline-block;
}
[data-tooltip]::before {
  position: absolute;
  z-index: 999;
}
[data-tooltip].top::before {
  bottom: 100%;
  margin-bottom: 10px;
}
[data-tooltip].bottom::before {
  top: 100%;
  margin-top: 10px;
}
[data-tooltip].left::before {
  right: 100%;
  margin-right: 10px;
}
[data-tooltip].right::before {
  left: 100%;
  margin-left: 10px;
}

/* (C) SHOW TOOLTIP ONLY ON HOVER */
[data-tooltip]::before {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s;
}
[data-tooltip]:hover::before {
  visibility: visible;
  opacity: 1;
}

/* (D) STYLE THE TOOLTIP */
[data-tooltip]::before {
  background: $yellow;
  color: $black;
  padding: 5px;
  min-width: 100px;
  text-align: center;
  border-radius: 3px;
}
